body {
    scroll-behavior: smooth;
}

.nav-download {
    color: #fff;
    justify-content: left;
    text-align: left;
    overflow: hidden;
    background-color: #000000;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    top: 0;
    width: auto;
}

.nav-download ul a {
    float: left;
    display: block;
    color: #bfbfbf;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    padding: 14px 16px;
    box-shadow: 0 0 10px #343434;
    animation: infinite 7s boxshadow;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 19px;
}

.nav-download ul a:hover {
    background: rgb(49, 49, 49);
    color: black;
    text-decoration: none;
    transition: 2s;
    border-radius: 10px 10px 10px 10px;
    animation: rgbbg 10s infinite;
}

.white {
    color: #fff;
}

.device {
    padding: 1vw;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: nowrap;
}

.content {
    display: block;
    padding: 0 18px;
    max-height: 0;
    opacity: 1;
    transition: 0.7s;
    overflow: hidden;
    background-color: #000000;
}

.col1,
.col2,
.col3,
.col4 {
    color: #bfbfbf;
    background-color: #111111;
    margin-left: 35%;
    margin-right: 35%;
    padding: 0.7vw;
    margin-top: 0.2vw;
    margin-bottom: 0.5vw;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    font-size: 1.3vw;
    font-family: 'Bebas Neue', cursive;
}

.col1:hover,
.col2:hover,
.col3:hover,
.col4:hover {
    animation: infinite 7s boxshadow;
}

.collapsible {
    background-color: #1a1a1a;
    color: #bfbfbf;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    justify-content: center;
    cursor: pointer;
    animation: none;
    font-family: 'Bebas Neue', cursive;
    padding: 1vw;
    margin-right: 30%;
    margin-left: 30%;
    width: 40%;
    border: none;
    text-align: left;
    outline: none;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    font-size: 1.5vw;
    text-align: center;
}

.collapsible:hover {
    animation: infinite 7s boxshadow;
}

.collapsible-2 {
    background-color: #1a1a1a;
    color: #bfbfbf;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    justify-content: center;
    cursor: pointer;
    animation: none;
    font-family: 'Bebas Neue', cursive;
    padding: 1vw;
    margin-right: 28%;
    margin-left: 28%;
    width: 44%;
    border: none;
    text-align: left;
    outline: none;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    font-size: 1.5vw;
    text-align: center;
    outline: none;
}

.collapsible:nth-of-type(n) {
    color: #98ddca;
}

.collapsible-2:nth-of-type(2n+1) {
    color: #ffd3b4;
}

.content div:nth-of-type(n) {
    color: #caf7e3;
}

.collapsible-2:hover {
    animation: infinite 7s boxshadow;
}

main {
    padding: 2vw;
}

input[type="button"] {
    border: none !important;
    outline: none !important;
}

@media screen and (max-width: 600px) {
    .collapsible-2 {
        margin-right: 6%;
        margin-left: 6%;
        width: 88%;
        margin-bottom: 2vw;
        margin-top: 2vw;
        font-size: 5.5vw;
        padding: 2vw;
    }
    .collapsible {
        margin-right: 9%;
        margin-left: 9%;
        width: 82%;
        margin-bottom: 1.7vw;
        margin-top: 1.7vw;
        font-size: 5vw;
        padding: 2vw;
    }
    .col1,
    .col2,
    .col3,
    .col4 {
        margin-left: 12%;
        margin-right: 12%;
        padding: 2vw;
        margin-top: 1.5vw;
        margin-bottom: 1.5vw;
        font-size: 4.5vw;
    }
    .nav-download {
        padding-top: 5vw;
        margin-left: -5vw;
    }
}