@keyframes textrgb {
    0% {
        color: rgb(143, 55, 55);
    }
    10% {
        color: rgb(143, 121, 55);
    }
    15% {
        color: rgb(143, 168, 55);
    }
    20% {
        color: rgb(184, 143, 55);
    }
    30% {
        color: rgb(73, 143, 55);
    }
    35% {
        color: rgb(77, 143, 55);
    }
    40% {
        color: rgb(55, 143, 133);
    }
    50% {
        color: rgb(55, 153, 143);
    }
    55% {
        color: rgb(55, 99, 143);
    }
    60% {
        color: rgb(55, 99, 143);
    }
    70% {
        color: rgb(165, 55, 143);
    }
    80% {
        color: rgb(143, 55, 143);
    }
    90% {
        color: rgb(143, 55, 91);
    }
    100% {
        color: rgb(143, 55, 55);
    }
}

@keyframes rgbbg {
    0% {
        background: rgb(243, 55, 55);
        color: white;
    }
    10% {
        background: rgb(243, 121, 55);
    }
    15% {
        background: rgb(243, 168, 55);
    }
    20% {
        background: rgb(224, 243, 55);
    }
    30% {
        background: rgb(133, 243, 55);
    }
    35% {
        background: rgb(77, 243, 55);
    }
    40% {
        background: rgb(55, 243, 133);
    }
    50% {
        background: rgb(55, 193, 243);
        color: black;
    }
    55% {
        background: rgb(55, 99, 243);
    }
    60% {
        background: rgb(55, 99, 243);
    }
    70% {
        background: rgb(165, 55, 243);
    }
    80% {
        background: rgb(243, 55, 243);
    }
    90% {
        background: rgb(243, 55, 111);
    }
    100% {
        background: rgb(243, 55, 55);
    }
}

@keyframes rgb {
    0% {
        color: rgb(243, 55, 55);
    }
    10% {
        color: rgb(243, 121, 55);
    }
    15% {
        color: rgb(243, 168, 55);
    }
    20% {
        color: rgb(224, 243, 55);
    }
    30% {
        color: rgb(133, 243, 55);
    }
    35% {
        color: rgb(77, 243, 55);
    }
    40% {
        color: rgb(55, 243, 133);
    }
    50% {
        color: rgb(55, 193, 243);
    }
    55% {
        color: rgb(55, 99, 243);
    }
    60% {
        color: rgb(55, 99, 243);
    }
    70% {
        color: rgb(165, 55, 243);
    }
    80% {
        color: rgb(243, 55, 243);
    }
    90% {
        color: rgb(243, 55, 111);
    }
    100% {
        color: rgb(243, 55, 55);
    }
}

@keyframes bgrgb {
    0% {
        background-image: url(../Code/banner/banner.png);
    }
    10% {
        background-image: url(../Code/banner/banner2.png);
    }
    20% {
        background-image: url(../Code/banner/banner3.png);
    }
    30% {
        background-image: url(../Code/banner/banner4.png);
    }
    40% {
        background-image: url(../Code/banner/banner5.png);
    }
    50% {
        background-image: url(../Code/banner/banner6.png);
    }
    60% {
        background-image: url(../Code/banner/banner7.png);
    }
    70% {
        background-image: url(../Code/banner/banner8.png);
    }
    80% {
        background-image: url(../Code/banner/banner9.png);
    }
    90% {
        background-image: url(../Code/banner/banner.png);
    }
    100% {
        background-image: url(../Code/banner/banner2.png);
    }
}

@keyframes rgbg {
    0% {
        background-color: rgb(85, 19, 19);
    }
    10% {
        background-color: rgb(78, 36, 13);
    }
    15% {
        background-color: rgb(92, 61, 16);
    }
    20% {
        background-color: rgb(74, 80, 17);
    }
    30% {
        background-color: rgb(41, 75, 18);
    }
    35% {
        background-color: rgb(25, 83, 17);
    }
    40% {
        background-color: rgb(16, 90, 47);
    }
    50% {
        background-color: rgb(14, 61, 78);
    }
    55% {
        background-color: rgb(13, 28, 80);
    }
    60% {
        background-color: rgb(16, 28, 70);
    }
    70% {
        background-color: rgb(49, 14, 73);
    }
    80% {
        background-color: rgb(63, 15, 63);
    }
    90% {
        background-color: rgb(70, 19, 34);
    }
    100% {
        background-color: rgb(75, 16, 16);
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 3px rgb(237, 111, 111), 0 0 3px rgb(237, 99, 97), 0 0 3px #eb9950, 0 0 3px #e6c761, 0 0 3px #e9eb5f, 0 0 3px #b4ed59, 0 0 3px #5bed7f;
    }
    to {
        text-shadow: 0 0 3px rgb(98, 232, 174), 0 0 3px #538ee6, 0 0 3px #77dfe3, 0 0 3px #62e6e0, 0 0 3px #5e88e3, 0 0 3px #c786e8, 0 0 3px #eb79cb;
    }
}

.glow-red {
    animation: glowred 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glowred {
    from {
        text-shadow: 0 0 3px rgb(255, 136, 136), 0 0 3px rgb(255, 124, 124), 0 0 3px #ff5353, 0 0 3px #c24242, 0 0 3px #9b2727, 0 0 3px #b52929, 0 0 3px #762525;
    }
    to {
        text-shadow: 0 0 3px #762525, 0 0 3px #b52929, 0 0 3px #9b2727, 0 0 3px #c24242, 0 0 3px #ff5353, 0 0 3px rgb(255, 124, 124), 0 0 3px rgb(255, 136, 136);
    }
}

.glow-cyan {
    animation: glowcyan 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glowcyan {
    from {
        text-shadow: 0 0 3px rgb(155, 244, 247), 0 0 3px rgb(97, 205, 238), 0 0 3px #58a5d8, 0 0 3px #3793c4, 0 0 3px #17648d, 0 0 3px #2470b8, 0 0 3px #144b6a;
    }
    to {
        text-shadow: 0 0 3px #144b6a, 0 0 3px #2470b8, 0 0 3px #17648d, 0 0 3px #3793c4, 0 0 3px #58a5d8, 0 0 3px rgb(97, 205, 238), 0 0 3px rgb(155, 244, 247);
    }
}

@keyframes boxshadow {
    0% {
        box-shadow: 0 0 7px #843434;
    }
    10% {
        box-shadow: 0 0 7px #845934;
    }
    20% {
        box-shadow: 0 0 7px #847f34;
    }
    30% {
        box-shadow: 0 0 7px #698434;
    }
    40% {
        box-shadow: 0 0 7px #478434;
    }
    50% {
        box-shadow: 0 0 7px #348454;
    }
    60% {
        box-shadow: 0 0 7px #348468;
    }
    70% {
        box-shadow: 0 0 7px #346f84;
    }
    80% {
        box-shadow: 0 0 7px #344d84;
    }
    90% {
        box-shadow: 0 0 7px #633484;
    }
    100% {
        box-shadow: 0 0 7px #84345b;
    }
}