@media screen and (max-width: 600px) {
.navbar a:not(:first-child) {
      display: none;
 }
.navbar a.icon {
      float: right;
      display: block;
 }
#section1 , #section3 {
        padding-bottom: 0%;
}
.home-end {
    margin-left: 10px;
    border-style: solid;
    width: 50px;
    border-color: #1a1a1a;
    height: 30px;
    border-top-left-radius: -20px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    margin-right: 100%;
    background-color: #1a1a1a;
    background-image: linear-gradient(#1a1a1a, #000);
  }
#section4, #section2 {
    padding-bottom: 10%;
}
.heading-center {
    line-height: 40px;
}
.heading-center-2 {
    line-height:20px;
    font-size: 5vw;
}
.heading {
    font-size: 12vw;
    margin-bottom: 1%;
}
.parag {
    font-size: 6vw;
  }
.heading-center-3 {
    padding-bottom: 100px;
    line-height:10px;
    font-size: 5vw;
}
.navbar {
    margin-left: 0%;
}
.flex-container {
    flex-direction: column;
}
.column {
    width: 100%;
}
}
  
@media screen and (max-width: 600px) {
.navbar.responsive {position: relative;}
.navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
}
.navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
}
.navbar.responsive {float: none;}
.navbar.responsive {position: relative;}
.navbar.responsive {
      display: block;
      width: 100%;
      text-align: left;
}
.user-dev {
    width: 50%;
    border-radius: 50%;
}
.column {
    width: 50%;
    height: 5%;
}
.column > h2 > a{
    font-size: 5vw;
    padding-bottom: 0;
}
.column > p > a{
    font-size: 6vw;
    padding-bottom: 0vw;
}
.column-img {
    float: none;
    width: 100%;
    padding-bottom: 82vw;
    text-align: center;
    justify-content: center;
    height: 15vw; 
}
.boxx > i {
    font-size: 7vw;
    padding-left: 10px;
}
}