@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
.bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-attachment: scroll;
  background-position: 85% 140px;
  background-size: 40% auto;
  background-image: url(../Code/banner.png);
  animation: bgrgb 12s infinite;
}
@keyframes bgrgb {
  0% { background-image: url(../Code/banner.png);}
  10% { background-image: url(../Code/banner2.png);}
  20% { background-image: url(../Code/banner3.png);}
  30% { background-image: url(../Code/banner4.png);}
  40% { background-image: url(../Code/banner5.png);}
  50% { background-image: url(../Code/banner6.png);}
  60% { background-image: url(../Code/banner7.png);}
  70% { background-image: url(../Code/banner8.png);}
  80% { background-image: url(../Code/banner9.png);}
  90% { background-image: url(../Code/banner.png);}
  100% { background-image: url(../Code/banner2.png);}
}
html , body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
#section1 , #section3 {
    font-weight: 400;
    font-size: 3vw;
    text-align: center;
    box-sizing: border-box;
}
#section2 , #section4 , #section5 {
  font-weight: 400;
  font-size: 3vw;
  text-align: center;
  box-sizing: border-box;
  padding-top: 1vw;
  padding-bottom: 2vw;
}
.heading-center {
  padding-top: 50px;
  text-align: left;
  color: #222222;
  margin-top: 10%;
  /*animation: rgb 7s infinite;*/
  font-family: 'Bebas Neue', cursive;
  font-size: 13vw;
  margin-left: 8%;
  line-height: 70px;
}
.heading-center-2 {
  text-align: left;
  /*animation: rgb 7s infinite;*/
  font-family: 'Bebas Neue', cursive;
  margin-left: 9%;
  color: #222222;
  line-height:70px;
}
.heading-center-3 {
  text-align: left;
  /*animation: rgb 7s infinite;*/
  font-family: 'Bebas Neue', cursive;
  margin-left: 9%;
  color: #222222;
  padding-bottom: 100px;
  line-height:0px;
}
.heading-center-3 > a {
  text-align: left;
  color: #222222;
  /*animation: rgb 7s infinite;*/
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
}
.heading {
  text-align: center;
  margin: auto;
  color: #c53a3a;
  text-shadow: 0 0 20px #343434;
  font-family: 'Fjalla One', sans-serif;
  font-size: 7vw;
}
.navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: fixed;
  margin-left: 50%;
  top: 0;
  width: auto;
}
.active {
  background-color: rgb(0, 0, 0);
  animation: rgbbg 7s infinite;
}
.navbar .icon {
  display: none;
}
.navbar a {
  float: right;
  display: block;
  color: #5b5b5b;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: rgb(49, 49, 49);
  color: black;
  text-decoration: none;
  transition: 2s;
  animation: rgbbg 10s infinite;
}
.column > h2 > a{
  font-size: 1vw;
  padding-top: 20%;
  color: #98ded9;
  /*animation: textrgb 10s infinite;*/
  font-family: 'Bebas Neue', cursive;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none!important;
}
.column > p > a{
  font-size: 2vw;
  color: #75cfb8;
  /*animation: textrgb 10s infinite;*/
  font-family: 'Bebas Neue', cursive;
}
.column {
  float: none;
  width: 25%;
  padding: 7vw;
  text-align: center;
  justify-content: center;
  height: 15vw; 
}
.row:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;
  justify-content: center;
}
.user-dev {
  width: 40%;
  border-radius: 50%;
  animation: borderrgb 10s infinite;
}
.cursor {
  cursor: pointer;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column-img {
  float: none;
  width: 33%;
  padding: 14vw;
  text-align: center;
  justify-content: center;
  height: 15vw; 
}
.img1 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-attachment: scroll;
  background-position: 50% 10px;
  background-size: 50% auto;
  padding-bottom: 15vw;
  animation: img1 12s infinite;
}
.img2 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-attachment: scroll;
  background-position: 50% 10px;
  background-size: 50% auto;
  padding-bottom: 15vw;
  animation: img2 12s infinite;
}
.img3 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-attachment: scroll;
  background-position: 50% 10px;
  background-size: 50% auto;
  padding-bottom: 15vw;
  animation: img3 12s infinite;
}
.img4 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-attachment: scroll;
  background-position: 50% 10px;
  background-size: 50% auto;
  padding-bottom: 15vw;
  animation: img4 12s infinite;
}
.img5 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-attachment: scroll;
  background-position: 50% 10px;
  background-size: 50% auto;
  padding-bottom: 15vw;
  animation: img5 12s infinite;
}
.img6 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-attachment: scroll;
  background-position: 50% 10px;
  background-size: 50% auto;
  padding-bottom: 15vw;
  animation: img6 12s infinite;
}
.home-img {
  width: 18%;
  border: 2px solid #4dd5ff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: auto;
  box-shadow: 0 0 10px #000;
  margin-right: 48%;
}
.home-text {
  background-color: #1a1a1a; 
  padding-bottom: 5vw; 
  padding-top: 5vw; 
  text-align: right; 
  font-size: 2vw;
  margin-left: 50%;
  color: #5b5b5b;
  margin-right: 10%;
  margin-top: -35%;
}
.home-text > p {
  padding: 15px;
  border: 2px solid #4dd5ff;
  box-shadow: 0 0 10px #000;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.home-end {
  width: 0;
  height: 0;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  border-top: 100px solid #1a1a1a;
  margin-left: 40%;
}
.parag {
  color: #5b5b5b;
  font-size: 2.5vw;
}
.padding {
  padding-top: 2vw;
}
.boxx {
  background-color: #101010;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: 1s;
}
.icon {
  color: #da8989;
  transition: 2s;
}
.icon:hover {
  color: #6ba6dd;
}
.p {
  font-size: 20px;
  color: rgb(230, 230, 230);
}
.glow {
  animation: glow 4s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px #e44646, 0 0 2px #dc7239, 0 0 2px #c3c53a, 0 0 2px #9bd143, 0 0 2px #2fdc5a;
  }
  
  to {
    text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 2px #000000, 0 0 2px #4df9ff, 0 0 2px #4dfff6, 0 0 2px #4d85ff, 0 0 2px #c44dff, 0 0 2px #ff4dcd;
  }
}