@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
.bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-attachment: scroll;
  background-position: 85% 140px;
  background-size: 40% auto;
  background-image: url(../Code/banner.png);
  animation: bgrgb 12s infinite;
}
@keyframes bgrgb {
  0% { background-image: url(../Code/banner.png);}
  10% { background-image: url(../Code/banner2.png);}
  20% { background-image: url(../Code/banner3.png);}
  30% { background-image: url(../Code/banner4.png);}
  40% { background-image: url(../Code/banner5.png);}
  50% { background-image: url(../Code/banner6.png);}
  60% { background-image: url(../Code/banner7.png);}
  70% { background-image: url(../Code/banner8.png);}
  80% { background-image: url(../Code/banner9.png);}
  90% { background-image: url(../Code/banner.png);}
  100% { background-image: url(../Code/banner2.png);}
}
html , body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
#section1 , #section3 {
    font-weight: 400;
    font-size: 3vw;
    text-align: center;
    box-sizing: border-box;
}
#section2 , #section4 , #section5 {
  font-weight: 400;
  font-size: 3vw;
  text-align: center;
  box-sizing: border-box;
  padding-top: 1vw;
  padding-bottom: 2vw;
}
.heading-center {
  padding-top: 50px;
  text-align: left;
  color: #000000;
  margin-top: 10%;
  /*animation: rgb 7s infinite;*/
  font-family: 'Bebas Neue', cursive;
  font-size: 13vw;
  margin-left: 8%;
  line-height: 70px;
}
.heading-center-2 {
  text-align: left;
  /*animation: rgb 7s infinite;*/
  font-family: 'Bebas Neue', cursive;
  margin-left: 9%;
  color: #000000;
  line-height:70px;
}
.heading-center-3 {
  text-align: left;
  /*animation: rgb 7s infinite;*/
  font-family: 'Bebas Neue', cursive;
  margin-left: 9%;
  color: #222222;
  padding-bottom: 100px;
  line-height:0px;
}
.heading-center-3 > a {
  text-align: left;
  color: #000000;
  /*animation: rgb 7s infinite;*/
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
}
.heading {
  text-align: center;
  margin: auto;
  color: #000000;
  text-shadow: 0 0 20px #343434;
  font-family: 'Fjalla One', sans-serif;
  font-size: 7vw;
}
.navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: fixed;
  margin-left: 50%;
  top: 0;
  width: auto;
}
.active {
  background-color: rgb(0, 0, 0);
  animation: rgbbg 7s infinite;
}
.navbar .icon {
  display: none;
}
.navbar a {
  float: right;
  display: block;
  color: #5b5b5b;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: rgb(49, 49, 49);
  color: black;
  text-decoration: none;
  transition: 2s;
  animation: rgbbg 10s infinite;
}
.column > h2 > a{
  font-size: 1vw;
  padding-top: 20%;
  color: #98ded9;
  /*animation: textrgb 10s infinite;*/
  font-family: 'Bebas Neue', cursive;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none!important;
}
.column > p > a{
  font-size: 2vw;
  color: #75cfb8;
  /*animation: textrgb 10s infinite;*/
  font-family: 'Bebas Neue', cursive;
}
.column {
  float: none;
  width: 25%;
  padding: 7vw;
  text-align: center;
  justify-content: center;
  height: 15vw; 
}
.row:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;
  justify-content: center;
}
.user-dev {
  width: 40%;
  border-radius: 50%;
  animation: borderrgb 10s infinite;
}
.cursor {
  cursor: pointer;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column-img {
  float: none;
  width: 33%;
  padding: 7vw;
  text-align: center;
  justify-content: center;
  height: 15vw; 
}
.img-class {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-attachment: scroll;
  background-position: 50% 10px;
  background-size: 30% auto;
  padding-bottom: 13vw;
}
/*.img1 {
  background-image: url(../Code/album/1.png);
}
.img2 {
  background-image: url(../Code/album/2.png);
}
.img3 {
  background-image: url(../Code/album/3.png);
}
.img4 {
  background-image: url(../Code/album/4.png);
}
.img5 {
  background-image: url(../Code/album/5.png);
}
.img6 {
  background-image: url(../Code/album/6.png);
  
}
.img7 {
  background-image: url(../Code/album/7.png);
  
}
.img8 {
  background-image: url(../Code/album/8.png);
  
}
.img9 {
  background-image: url(../Code/album/9.png);
  
}
.img10 {
  background-image: url(../Code/album/10.png);
  
}
.img11 {
  background-image: url(../Code/album/11.png);
  
}
.img12 {
  background-image: url(../Code/album/12.png);
  
}
.img13 {
  background-image: url(../Code/album/13.png);
  
}
.img14 {
  background-image: url(../Code/album/14.png);
  
}
.img15 {
  background-image: url(../Code/album/15.png);
  
}
.img16 {
  background-image: url(../Code/album/16.png);
  
}
.img17 {
  background-image: url(../Code/album/17.png);
  
}
.img18 {
  background-image: url(../Code/album/18.png);
  
}
.img19 {
  background-image: url(../Code/album/19.png);
  
}
.img20 {
  background-image: url(../Code/album/20.png);
  
}
.img21 {
  background-image: url(../Code/album/21.png);
  
}*/
.home-img {
  width: 18%;
  border: 2px solid #4dd5ff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: auto;
  box-shadow: 0 0 10px #000;
  margin-right: 48%;
}
.home-text {
  background-color: #1a1a1a; 
  padding-bottom: 5vw; 
  padding-top: 5vw; 
  text-align: right; 
  font-size: 2vw;
  margin-left: 50%;
  color: #5b5b5b;
  margin-right: 10%;
  margin-top: -35%;
}
.home-text > p {
  padding: 15px;
  border: 2px solid #4dd5ff;
  box-shadow: 0 0 10px #000;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.home-end {
  width: 0;
  height: 0;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  border-top: 100px solid #1a1a1a;
  margin-left: 40%;
}
.parag {
  color: #5b5b5b;
  font-size: 2.5vw;
}
.padding {
  padding-top: 2vw;
}
.boxx {
  background-color: #101010;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: 1s;
}
.icon {
  color: #da8989;
  transition: 2s;
}
.icon:hover {
  color: #6ba6dd;
}
.p {
  font-size: 20px;
  color: rgb(230, 230, 230);
}
.glow {
  animation: glow 4s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 4px rgb(0, 0, 0), 0 0 4px rgb(0, 0, 0), 0 0 4px #e23636, 0 0 4px #da692d, 0 0 4px #c8ca2c, 0 0 4px #90cc30, 0 0 4px #16d145;
  }
  
  to {
    text-shadow: 0 0 4px rgb(0, 0, 0), 0 0 4px #000000, 0 0 4px #34eaf0, 0 0 4px #3af0e7, 0 0 4px #3168df, 0 0 4px #b538f3, 0 0 4px #ee39bb;
  }
}
.glow-red {
  animation: glowred 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glowred {
  from {
    text-shadow: 0 0 3px rgb(255, 136, 136), 0 0 3px rgb(255, 124, 124), 0 0 3px #ff5353, 0 0 3px #c24242, 0 0 3px #9b2727, 0 0 3px #b52929, 0 0 3px #762525;
  }
  
  to {
    text-shadow: 0 0 3px #762525, 0 0 3px #b52929, 0 0 3px #9b2727, 0 0 3px #c24242,  0 0 3px #ff5353,  0 0 3px rgb(255, 124, 124),  0 0 3px rgb(255, 136, 136); 
  }
}
.glow-cyan {
  animation: glowcyan 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glowcyan {
  from {
    text-shadow: 0 0 3px rgb(155, 244, 247), 0 0 3px rgb(97, 205, 238), 0 0 3px #58a5d8, 0 0 3px #3793c4, 0 0 3px #17648d, 0 0 3px #2470b8, 0 0 3px #144b6a;
  }
  
  to {
    text-shadow: 0 0 3px #144b6a, 0 0 3px #2470b8, 0 0 3px #17648d, 0 0 3px #3793c4, 0 0 3px #58a5d8, 0 0 3px rgb(97, 205, 238), 0 0 3px rgb(155, 244, 247);
  }
}
.data-slide {
  position: relative;
  padding-top: 7vw;
}
.mySlides {
  display: none;
}
.mySlides > img {
  width: 20%;
  border-radius: 10px 10px 10px 10px;
  border: solid 2px #e44646;
}
.cursor {
  cursor: pointer;
}
.prev , .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  margin-right: 33%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: solid 2px;
  border-color: #ff4d56;
  border-radius: 10px 10px 10px 10px;
  background-color: #000;
  user-select: none;
  -webkit-user-select: none;
  transition: 0.5s;
}
.next > i{
  color: #e44646;
}
.next , .prev {
  padding-right: 10px;
  padding-left: 10px;
}
.prev > i{
  color: #e44646;
}
.next > i:hover {color: #1a1a1a;}
.prev > i:hover {color: #1a1a1a;}
.next-prev {
  margin-right: 35%;
}
.next {
  right: 0;
}
.prev:hover,
.next:hover {
  background-color: #ff4d56;
}
.row-slide:after {
  content: "";
  display: table;
  clear: both;
}
.column-slide {
  float: left;
  width: 16.66%;
  padding-top: 5vw;
}
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}