@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
.loader {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto;
}

.loader .loader-circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-style: solid;
    border-width: 3px;
    border-top-color: #2e96f1;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    background-color: #000;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}

.loader .loader-circle2 {
    border-top-color: #0078ff;
}

.loader .loader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 6px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}

.loader .loader-img img {
    max-width: 55px;
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
}

@keyframes rgbloader {
    0% {
        background-color: rgb(237, 92, 92);
    }
    10% {
        background-color: rgb(230, 136, 85);
    }
    15% {
        background-color: rgb(240, 179, 89);
    }
    20% {
        background-color: rgb(225, 240, 89);
    }
    30% {
        background-color: rgb(147, 231, 87);
    }
    35% {
        background-color: rgb(104, 233, 87);
    }
    40% {
        background-color: rgb(82, 210, 135);
    }
    50% {
        background-color: rgb(88, 192, 230);
    }
    55% {
        background-color: rgb(94, 125, 226);
    }
    60% {
        background-color: rgb(96, 129, 236);
    }
    70% {
        background-color: rgb(179, 131, 213);
    }
    80% {
        background-color: rgb(223, 138, 223);
    }
    90% {
        background-color: rgb(230, 116, 150);
    }
    100% {
        background-color: rgb(221, 99, 99);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

 ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: #c94c4c;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #3d84c6;
}

.bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-attachment: scroll;
    background-position: 85% 140px;
    background-size: 40% auto;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#section1,
#section3 {
    font-weight: 400;
    font-size: 3vw;
    text-align: center;
    box-sizing: border-box;
}

#section2,
#section4,
#section5 {
    font-weight: 400;
    font-size: 3vw;
    text-align: center;
    box-sizing: border-box;
    padding-top: 1vw;
    padding-bottom: 2vw;
}

.heading-center {
    padding-top: 50px;
    text-align: left;
    color: #000000;
    margin-top: 10%;
    font-family: 'Bebas Neue', cursive;
    font-size: 13vw;
    margin-left: 8%;
    line-height: 70px;
}

.box-shadow {
    margin-top: 2vw;
    margin-left: -9.5vw;
}

.box-shadow-2 {
    margin-top: 2vw;
    margin-bottom: 7vw;
    margin-left: -9.5vw;
}

.heading-center-3 {
    margin-left: 25vw;
    margin-top: -11vw;
}

.heading-center-3 a:hover,
.heading-center-3 a h4:hover {
    cursor: pointer;
}

.heading-center-redo-2 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin-left: 10%;
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    font-size: 3vw;
    margin-right: 74.5%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: #3793c4 0 0 10px;
    color: #000000;
}

.heading-center-redo {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin-left: 10%;
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    font-size: 3vw;
    margin-right: 76.5%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: #3793c4 0 0 10px;
    color: #000000;
}

.heading {
    text-align: center;
    margin: auto;
    color: #000000;
    text-shadow: 0 0 20px #343434;
    font-family: 'Fjalla One', sans-serif;
    font-size: 7vw;
}

.navbar {
    overflow: hidden;
    background-color: #000000;
    margin-left: 55%;
    padding: 1vw 1vw;
    top: 0.5%;
    width: 40%;
}

.column>h2>a {
    font-size: 1vw;
    padding-top: 20%;
    color: #3793c4;
    font-family: 'Bebas Neue', cursive;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none!important;
}

.column>p>a {
    font-size: 2vw;
    color: #3793c4;
    font-family: 'Bebas Neue', cursive;
}

.column {
    float: none;
    width: 25%;
    padding: 7vw;
    text-align: center;
    justify-content: center;
    height: 15vw;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
    justify-content: center;
}

.user-dev {
    width: 40%;
    border-radius: 50%;
    animation: borderrgb 10s infinite;
}

.cursor {
    cursor: pointer;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-img {
    float: none;
    width: 33%;
    padding: 7vw;
    text-align: center;
    justify-content: center;
    height: 15vw;
}

.img-class {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-attachment: scroll;
    background-position: 50% 10px;
    background-size: 30% auto;
    padding-bottom: 13vw;
}

.home-img-bg {
    width: 50%;
    margin-top: -28%;
    margin-bottom: 3%;
    margin-left: 45%;
    height: auto;
}

.home-img {
    width: 18vw;
    border: 2px solid #4dd5ff;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px #000;
}

.home-text {
    background-color: #1a1a1a;
    padding-bottom: 5vw;
    padding-top: 5vw;
    text-align: center;
    font-size: 2vw;
    color: #5b5b5b;
    width: 45vw;
}

.home-text>p {
    padding: 15px;
    border: 2px solid #4dd5ff;
    box-shadow: 0 0 10px #000;
    color: #bfbfbf;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.home-end {
    width: 0;
    height: 0;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 100px solid #1a1a1a;
    margin-left: 40%;
}

.padding {
    padding-bottom: 2vw;
}

.parag {
    color: #5b5b5b;
    font-size: 2.5vw;
}

.padding {
    padding-top: 2vw;
}

.boxx {
    background-color: #101010;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: 1s;
}

.icon {
    color: #da8989;
    transition: 2s;
}

.icon:hover {
    color: #6ba6dd;
}

.p {
    font-size: 20px;
    color: rgb(230, 230, 230);
}

.glow {
    animation: glow 4s ease-in-out infinite alternate;
}

.data-slide {
    position: relative;
    padding-top: 7vw;
}

.mySlides {
    display: none;
}

.mySlides>img {
    width: 20%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: #444 0 0 15px;
    border: solid 2px #e44646;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 40px;
    margin-right: 33%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: solid 2px;
    border-color: #ff4d56;
    border-radius: 10px 10px 10px 10px;
    background-color: #000;
    user-select: none;
    -webkit-user-select: none;
    transition: 0.5s;
}

.next>i {
    color: #e44646;
}

.next,
.prev {
    padding-right: 10px;
    padding-left: 10px;
}

.prev>i {
    color: #e44646;
}

.next>i:hover {
    color: #1a1a1a;
}

.prev>i:hover {
    color: #1a1a1a;
}

.next-prev {
    margin-right: 35%;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: #ff4d56;
}

.row-slide:after {
    content: "";
    display: table;
    clear: both;
}

.column-slide {
    float: left;
    width: 16.66%;
    padding-top: 5vw;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.page-donate {
    margin-right: 50%;
    background-color: #000;
    padding-bottom: 5vw;
    padding-top: 5vw;
    text-align: left;
    margin-left: 10%;
    font-size: 2vw;
    color: #bfbfbf;
}

.page-donate p {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid #c43f3f;
    box-shadow: 0 0 10px #000;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 1s;
}

.page-donate p:hover {
    background-color: #111;
    color: #909090;
}

.donate-now-div {
    margin-top: 30%;
    margin-bottom: -34%;
    margin-left: 40%;
}

.donate-now-button {
    background-color: #000;
    border-radius: 10px 10px 10px 10px;
    border-color: #c43f3f;
    padding: 10px;
    transition: 1s;
    font-size: 5vw;
    text-align: center;
    margin: auto;
    color: #000000;
    animation: glowred 2s ease-in-out infinite alternate;
    font-family: 'Fjalla One', sans-serif;
}

.donate-now-button:hover {
    background-color: #111;
    color: #111;
}

.design {
    color: #6ba6dd;
    font-size: 1.2vw;
    justify-content: center;
    text-align: center;
}

.margin {
    margin-top: -3vw;
}

.footer h4 {
    color: #4dd5ff;
    font-size: 2.5vw;
    font-family: 'Bebas Neue', cursive;
    margin-left: 9vw;
}

.footer-2 h4 {
    color: #4dd5ff;
    font-size: 2.5vw;
    font-family: 'Bebas Neue', cursive;
    margin-left: 18vw;
}

.ul-footer {
    color: #4dd5ff;
    font-size: 1.5vw;
    list-style-type: none;
    margin-left: 5vw;
}

.ul-footer li {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.ul-footer li a {
    font-family: 'Bebas Neue', cursive;
    color: #3793c4;
}

.ul-footer li a:hover {
    font-family: 'Bebas Neue', cursive;
    color: #4dd5ff;
}

#section5 h1 {
    padding-top: 5vw;
    padding-bottom: 4vw;
}

.footer-2 {
    margin-left: 65vw;
    margin-top: -19.3vw;
    padding-bottom: 5vw;
}

.footer {
    margin-right: 75vw;
    padding-bottom: 2vw;
}


/* Navbar */

i {
    margin-right: 10px;
}

.navbar-block {
    padding: 1.5vw 0;
}

.navbar {
    width: 100vw;
    position: absolute;
    top: 0.5%;
    right: 0%;
}


/*----------multi-level-accordian-menu------------*/

.navbar-logo {
    font-size: 23px;
    padding: 0 20px;
    font-family: 'Bebas Neue', cursive;
    color: #4dd5ff;
    margin-left: 1vw;
    margin-right: 2.5vw;
    transition: all .5s;
}

.navbar-logo:hover,
.navbar-logo:focus {
    color: #4d8bff;
}

.navbar-mainbg {
    background-color: #000;
    padding: 0px;
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
}

#navbarSupportedContent ul li a i {
    margin-right: 10px;
}

#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}

#navbarSupportedContent ul li a {
    color: #4dd5ff7e;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    font-family: 'Bebas Neue', cursive;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#navbarSupportedContent>ul>li.active>a {
    color: #4dd5ff;
    background-color: transparent;
    transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
}

.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #1a1a1a;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
}

.hori-selector .left {
    left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}

@media(min-width: 992px) {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (max-width: 991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }
    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }
    .hori-selector .left {
        top: -25px;
        left: auto;
    }
    .hori-selector .right {
        bottom: -25px;
    }
    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }
    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }
}